:root{
    --nav-color-1: #0f1016;
    --accent-color: #d52c3a;
    --primary-color: #1b1c1f;
    --secondary-color: #101113;
    --text-color: #d9d9d9; 
    --secondary-text-color: #718082;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
a{
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 상속받은 색상으로 사용 */
}
nav
{
    height: 60px; /* 높이 */
    background-color: var(--nav-color-1); /* 배경색상 */
    display: flex; /* flex 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 세로 정렬 */
}
.links-container
{
    height: 100%; /* 높이 */
    width: min(100%, 1000px); /* 너비 */
    display: flex; /* flex 사용 */
    align-items: center; /* 세로 정렬 */
    flex-direction: row;
}   
.home-link{
    margin-right: auto;
}      
nav a
{
    color: var(--text-color); /* 글자색상 */
    padding: 0 20px; /* 여백 */
    height: 100%;
    display: flex;
    align-items: center;
    
}
svg{
    fill: var(--text-color); /* 아이콘 색상 */
}
nav a:hover
{
    background-color: var(--accent-color); /* 배경색상 */
  
}
#sidebar-active{
    display: none;
  }
  svg{
    fill:var(--text-color);
  }
  .open-sidebar-btn, .close-sidebar-btn{
    display:none;
    padding:20px;
  }
@media(max-width: 575px)
{
nav{
    justify-content: flex-end;
}
.open-sidebar-btn .close-sidebar-btn
{
    display: block;
      }
      .links-container{
        flex-direction: column;
        background-color: var(--nav-color-1);       
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        
        width: 300px;
        transition: 0.75s ease-in-out; /* 애니메이션 효과 */

    }
    nav a{
        height:auto;
        width:100px;
        padding: 20px 30px; /* 여백 */
        justify-content: flex-start;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0; /* 오른쪽으로 이동 */
        
    }
    #overlay{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 9;
        background-color: rgb(0,0,0, 0.5); /* 반투명 배경 */
        transition: 1s;
    }
}
html{
    font-size: 14pt;
    color: var(--text-color);
}
header {
    display:flex;
    align-items: center;
    padding: 20px;
   
}
header > img {
    height: 70%;
    padding: 0;
}
header > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
header a {
    display: inline-block;
    padding: 0.5em 1.25em;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 1000px;
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
    
    transition: 0.5s;
}
header a:hover {
    background-color: var(--secondary-color);
}
progress{
    accent-color: var(--accent-color);
}
section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 20px;
}
section > h2 {
    font-size: 3rem;
}
#skill-section {
    text-align: center;
    background-color: var(--secondary-color);
}
.wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    flex-wrap: wrap;    
}
.skill-container{
    width: 400px;
    max-height: 100%;
    border: 10px solid var(--primary-color);
    border-top: none;
    
}
.skill-container > h3{
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--primary-color);
    padding: 15px 0;
}
.skill-container li{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px;
}
.skill-container ul{
    list-style: none;
    margin: 15px;

}    
header div h1 {
    font-size: 4rem;        
    margin-top: 20px; 
    margin-bottom: 20px;   
}
header div h2 {
    font-size: 2rem;
    margin-bottom: 20px;         
}
header p{
    color: var(--secondary-text-color);
    
}
#projects-section {
    padding: 100px 20px;
}
#projects-section h2 {
    text-align: center;
    font-size: 3rem;
}
details {
    margin: 20px auto;
    width: 1000px;
    max-width: 100%;
    background-color: var(--secondary-color);
    border-radius: 6px;   
}
details > summary {
    display: flex;
    align-items: center; 
    gap:30px;
    padding: 30px;
    cursor: pointer;
}
.number {
    background-color: var(--accent-color);
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
}
details h3{
    font-size: 1.75rem;    
}
.text-container {
    padding: 30px;
    padding-top: 0;    
}
.project-link {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    display: inline-block;
    padding: 0.5em 1.25em;
    margin-top: 30px;
    border-radius: 1000px;
    transition: 300ms; 
}
.text-container p {
    max-width: 100%;
}
.project-link:hover {
    background-color: var(--secondary-color);
}
.flex-container {
    width: 100%;
    max-width: 1000px;
    margin: 15px 0;
}
footer {
    background-color: var(--secondary-color);
    padding: 100px 20px;
  }
  .footer-container {
    width: 1000px;
    max-width: 100%;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .footer-container span {
    font-size: 200pt;
    text-align: center;
    display: block;
    margin-bottom: 40px;
    align-items: center;
  }  
  .footer-container h3 {
    font-size: 2rem;
    margin-top: 20px;
  }  
  .footer-container a{
    display: inline-block;
    color: var(--secondary-text-color);
    text-decoration: none;
  }
    .footer-container a:hover {
        color: var(--text-color);
    }

@media (max-width: 1000px) {
    header {
       flex-wrap: wrap-reverse;
    }
    header > img {
        width:100% ;
        max-width: 300px;
        height:auto;
        padding:0;      
    }
    header div {
        flex-wrap: wrap;
    }
    div h1 {
        font-size: 3rem;            
    }
    div h2 {
        font-size: 1.5rem;         
    }
    .footer{
        padding-top: 10px;
    }
    .footer-container
{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0px;
      margin: 30px;
}
}